<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processor</title>
    <link rel="shortcut icon" href="#">
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">Navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="userInput"
            type="text"
            name="input"
            value=""
            placeholder="Paste a news article URL here then press submit"
          >
          <input
            id="submit"
            type="submit"
            name=""
            value="Submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          >
        </form>
      </section>

      <section id="web_results">
        <strong><p>Form Results:</p></strong>
        <div id="results">
          <div id="score_tag"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>Author: Joshua Swartzell 2021&copy;</p>
    </footer>
  </body>
</html>
